---
---

a {
  color: var(--primary);
  transition: color var(--transition);
  overflow-wrap: break-word;
}

a:hover {
  color: var(--text);
}

a:not([href]) {
  color: var(--text);
}

[data-dark="false"] {
  a {
    color: var(--secondary);
  }

  .portrait {
    color: var(--secondary);
  }

  a:hover,
  .portrait:hover {
    color: #000000;
  }
}
